$utilities: (
  "width": (
    property: width,
    class: w,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
      50px: 50px,
    )
  ),
  "rounded-responsive": (
    property: border-radius,
    class: rounded,
    responsive: true,
    values: (
      null: $border-radius,
    )
  ),
)
