$primary: #4545A5;
$secondary: #6C757D;
$success: #28A745;
$info: #17A2B8;
$warning: #FFC107;
$danger: #DC3545;
$light: #FBFBFB;
$dark: #343A40;
$gray: #EFEFEF;

$body-bg: $gray;

$enable-important-utilities: false;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1540px
);

$border-color: $gray;
$border-radius: 1rem;

$enable-shadows: true;

$grid-gutter-width: 0;

$input-border-radius: 0;
$input-bg: $light;
$input-box-shadow: 0;
$input-focus-box-shadow: 0;
