doctype html
html(lang="ru")
  head
    meta(charset="ut-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="./index.css", rel="stylesheet")
    title Hexlet Chat
  body
    .container-xxl.vh-100.p-4
      .row.bg-light.rounded.h-100.overflow-hidden
        .col-4.h-100.border-end
          block left
        .col-8
          block right
