.d-flex.flex-column.justify-content-center.align-items-center.h-100
  img.rounded-circle.mb-1(src="./images/avatar_1.jpg" alt="avatar")
  h2.h6.text-dark.fw-bold.mb-0 Привет, Кодовёнок
  p.text-secondary Выбери чат, чтобы начать общаться
